<h1>Search For a Country</h1>
<div class="search-bar__wrapper">
  <app-search-input
    [inputValue]="inputValueParent"
    [allCountries]="allCountriesParent"
    [filteredCountries]="filteredCountriesParent"
    (newTabGoogle)="redirectToGoogle($event)"
  ></app-search-input>
</div>
<section class="search-results">
  <ul>
    <app-search-autocomplete
      [filteredCountries]="filteredCountriesParent"
      (newTabGoogle)="redirectToGoogle($event)"
    ></app-search-autocomplete>
  </ul>
</section>
