:host {
  display: block;
  height:100%;
  background-color: #FBEAEB;
}

ul li{
  display: grid;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: left;
  color: #2F3C7E;
  transition-property: color, padding-bottom, padding-top, font-size;
  transition-duration: 0.5s;
  background-color: #FBEAEB;
}
ul li:hover{
  color: darkturquoise;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 18px;
  cursor: pointer;
}
ul li .mat-icon{
  margin-right: 10px;
  transform: translateY(4px);
}

ul{
  min-width: 220px;
  padding: 0;
}
