.form-group{
  padding: 20px;
}
.mat-form{
  border: 1px;
}
.mat-raised-button{
  background-color: #2F3C7E;
  color: #FBEAEB;
  max-height: 50px;
  border-radius: 8px;
}
.submit-button{
  position: center;
  top: 50%;
  transform: translateY(+43%);
  display: inline-block;
}
