.form-group{
  padding: 0px;
}
.mat-raised-button{
  background-color: #2F3C7E;
  color: #FBEAEB;
  max-height: 60px;
  border-radius: 8px;
  position: absolute;
  display: inline-block;
}
div{
  transform: translateY(40.5%);
  margin: 0 auto;
}
