<table *ngIf="localStorageValue.length>0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="input">
    <th mat-header-cell *matHeaderCellDef>Searched Input</th>
    <td mat-cell *matCellDef="let element">{{element.input}}</td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{element.date}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
