.footer {
  width: 100%;
  background-color: #FBEAEB;
  color: #2F3C7E;
  text-align: center;
  font-size: 13px;
  box-shadow: 0 2px 10px #2F3C7E;
  border-radius: 5px;
  padding: 0 1em;
  min-height: 100px;
}

.buttons {
  display: block;
}

.info > p {
  margin: 0;
}
