/* You can add global styles to this file, and also import other style files */
//*{
// margin: 0;
////  box-sizing: border-box;
////  padding: 10px;
//}

button{
  font-size: 100%;
  font-family: inherit;
}
textarea{
  font-size: 100%;
  font-family: inherit;
}
input{
  font-size: 100%;
  font-family: inherit;
}
select{
  font-size: 100%;
  font-family: inherit;
}

html, body { height: 100%; width:100%; font-size:14px; }
body{

  padding: 0;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
}

div, ul, p, li, {
  margin: 0;
}
